*{
  margin: 0px;
  padding: 0px;
}

.bg-green {
  background-color: #18ebb5;
}

.bg-green:hover {
  background-color: #01d49e;
}

.bg-dgreen {
  background-color: #01d49e;
}

.bg-red{
  background: #ff756b;
}

.bg-red:hover{
  background: #ff6358;
}

.bg-blue{
  background: #61dbf3;
}

.bg-blue:hover{
  background: #27d2f4;
}

.bg-pink{
  background: #fe4875;
}

.bg-pink:hover{
  background: #ff3769;
}

.bg-dpink{
  background: #ff3769;
}

.bg-gray{
  background:#ccc;
}

.input-pink{
    border:1.5px solid #ff756b;
}

.input-blue{
    border:1.5px solid #61dbf3;
}


.text-red{
	color: #ff756b;
}

.text-dblue{
  color: #1ca9f8;
}

.text-blue{
  color: #61dbf3;
}

.text-yellow{
  color: #f8e71c;
}

.text-green{
	color: #18ebb5;
}

.text-bgreen{
	color: #01d49e;
}

.small{
	font-size: 10px;
}

.non-style-link:hover{
  text-decoration: none;
}

.btn-yellow{
	color: #fff;
	background: #fbd304;
}

.btn-r {
  border-radius: 40px;
}

.btn-light-blue{
	background: #1ca9f8;
}

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 2px solid #fff;
}

.btn-outline-white:hover{
  background: white;
  color: #01d49e;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7 {
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.my-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.my-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);
}

.shadow-blue{
  box-shadow:2px 2px 5px 2px #61dbf3;
  -webkit-box-shadow:2px 2px 5px 2px #61dbf3;
  -moz-box-shadow:2px 2px 5px 2px #61dbf3;
}


@media only screen and (max-width: 1000px) {
    .imgRegister {
        display: none;
    }
}
